@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('./images/bg-intro-desktop.png') no-repeat center;
  background-color: var(--red);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.container-text,
.container-form {
  flex: 1;
}

h1 {
  color: white;
  font-size: 3.5rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

p {
  color: white;
  font-size: 1.05rem;
  opacity: 90%;
}

h4 {
  background-color: var(--blue);
  color: white;
  text-align: center;
  padding: 1rem 0;
  border-radius: 1rem;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.35);
  margin-bottom: 1.5rem;
}

h4 span {
  font-weight: 400;
  opacity: 0.9;
}

form {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}

input {
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  margin-bottom: 1.2rem;
  border: 1px solid var(--grayish-blue);
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

input.error {
  border: 1px solid var(--red);
}
.error::placeholder {
  color: var(--red);
}

input:hover,
input:focus {
  outline: 1.5px solid var(--blue);
}

button {
  display: block;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 1rem;
  font-family: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

small {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grayish-blue);
  gap: 0.25rem;
}

small span {
  color: var(--red);
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 570px) and (max-width: 1026px){
  /* body{
    background-color: var(--red);
  }*/
  .container{
    flex-direction: column;
    height: 90%;
    max-width: 90vw;
  }
  .container-text{
    width: 100%;
    /* display: flex; */
    flex-direction: block;

  }

  /* .container-form{
    display: flex;
    flex-direction: block;
  } */

  h1 {
    color: white;
    font-size: 1.9rem;
    line-height: 1.12em;
    margin-bottom: 1.8rem;
    text-align: center;
    width: 75vw;
    padding: 50px 20px 30px 20px;
    margin: 0px auto 0px auto;
  }

  p {
    color: white;
    /* font-size: 0.9rem; */
    opacity: 90%;
    line-height:  1.9rem;
    width: 95vw;
    font-size: 1.2rem;
    padding: 0 20px 0 20px;
    margin: 0px auto 0px auto;
    text-align: center;
  }

  h4 {
    background-color: var(--blue);
    color: white;
    text-align: center;
    padding: 1rem 25%;
    line-height: 1.1rem;
    font-weight: 300;
    border-radius: 1rem;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.35);
    margin-bottom: 1.5rem;
  }
  /* .container-form{
    padding: 15px auto 15px auto
  } */
  h4 span {
    font-weight: 300;
    opacity: 0.7;
    width: 90%;
    /* margin: 10px auto 10px auto; */
    /* padding: 5px 40% 5px 50%; */
    text-align: center;
    justify-content: center;
  }

  h4 span::first-line{
    text-anchor: middle;
  }


  form {
    background-color: white;
    padding: 1.3rem;
    border-radius: 0.8rem;
  }

  input {
    display: block;
    width: 100%;
    padding: 1.1rem 1.2rem;
    margin-bottom: 1.1rem;

    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
  }
  .warning-icon img{
    width: 7%;
    align-items: center;
    /* top: 2rem; */
    right: 1.2rem;
    bottom: 4.1rem;
  }
  .warning-icon{
    /* margin-bottom: 5px; */

  }
  .wrap .warning-icon{
    position: relative;
    width: 100%;
    /* margin-bottom: 5px;
    margin-top: 8px; */
  }

  /* .warning-icon > .showPassword{
    width: 7%;
    position: absolute;
    right: 1.2rem;
    bottom: 2.5rem;
    margin-top: 5px;
  } */

.wrap {
  position: relative;
}
small{
  display: block;
  text-align: center;
}
}

.wrap {
  position: relative;
}
.fWarning, .lWarning, .eWarning, .pWarning{
  display: none;
}

.warning-icon .showPassword {
  cursor: pointer !important;
    width: 7%;
    position: absolute;
    right: 1.2rem;
    bottom: 2.4rem;
}

.warning-icon img{
  width: 7%;
  position: absolute;
  right: 1.2rem;
  bottom: 3.5rem;
  /* color: var(--red); */
  /* top: 50%; */
  /* transform: translateY(-50%); */
}

.wrap .warning-icon{
  position: relative;
  width: 100%;

}
.warning-icon .showPassword{
  width: 7%;
  position: absolute;
  right: 1.2rem;
  bottom: 2.4rem;
}

button:hover{
  opacity: 0.6;
  cursor: pointer;
}

input:active{
  border: 1.1px thin var(--dark-blue);
  /* border: none; */
  outline: 0.2px thin;
  transition: none;
}